@page
@model TicketFrontend.Pages.ClosedTickets
@{
    ViewData["Title"] = "Tickets";
}


<div class="text-center">
    <h1 class="display-4">Closed tickets</h1>
    <table class="table table-striped">
        <thead>
        <th>Titel</th>
        <th>Beskrivelse</th>
        <th>Oprettet den</th>
        @* <th>Anmoder</th> *@
        <th>Prioritet</th>
        <th>Kategori</th>
        <th>Status</th>
        <th>
            <a asp-page="Print/Closed">
                <i class="fa fa-print"></i>
            </a>
        </th>
        </thead>
        @foreach (var item in @Model.FoundTickets)
        {
            <tr>
                <td>@item.TCaption</td>
                <td>
                    @if (item.TDesc.Length > 40)
                    {
                        @item.TDesc[0..Math.Min(@item.TDesc.Length, 45)]@: ...
                    }
                    else
                    {
                        @item.TDesc
                    }
                </td>
                <td>@item.TCreatedAt</td>
                @* <td>@item.Requester.full_name</td> *@
                <td>@item.Priority.priority</td>
                <td>@item.Category.category</td>
                <td>@item.Status.status</td>
                <td>
                    <a asp-page="Detail" class="btn btn-outline-info" asp-route-ticketId="@item.ID">Detailjer</a>
                </td>
            </tr>
        }
    </table>
    @if (Model.PageCount > Model.PageSize)
    {
        <ul class="pagination">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrPage ? "active" : "")">
                    <a asp-page="./ClosedTickets" class="page-link" asp-all-route-data="@(new Dictionary<string, string>{
                                                                                       { "CurrPage", @i.ToString() }
                })">@i</a>
            </li>
            }
        </ul>
    }
</div>