@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TicketDesk forside</h1>
    <hr/>
    <div class="row">
        @if (Model.Authed)
        {
            <p class="h2">My open tickets: @Model.MyTickets</p>
            <p class="h3">Open tickets: @Model.Open</p>
            <p class="h3">Paused tickets: @Model.Paused</p>
            <p class="h3">Resolved tickets: @Model.Resolved</p>
            <p class="h3">Closed tickets: @Model.Closed</p>            
        }
        else
        {
            <p class="display-6">Please <a asp-page="/Account/Login">log in</a> first!</p>
        }
        
    </div>
    
</div>