@page
@model TicketFrontend.Pages.Tickets
@{
    ViewData["Title"] = "Tickets";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table table-striped">
        <thead>
        <th>Titel</th>
        <th>Beskrivelse</th>
        <th>Oprettet den</th>
        <th>Anmoder</th>
        <th>Prioritet</th>
        <th>Kategori</th>
        <th>Status</th>
        <th colspan="2"></th>
        </thead>
        @foreach (var item in @Model.FoundTickets)
        {
        <tr>
            <td>@item.TCaption</td>
            <td>@item.TDesc</td>
            <td>@item.TCreatedAt</td>
            <td>@item.Requester.full_name</td>
            <td>@item.Priority.priority</td>
            <td>@item.Category.category</td>
            <td>@item.Status.status</td>
            <td>
                <a asp-page="Detail" class="btn btn-outline-info" asp-route-ticketId="@item.ID">Detailjer</a>
            </td>
            <td>
                <a asp-page="Tickets" class="btn btn-outline-danger" asp-page-handler="CloseTaskDebug" asp-route-ticketId="@item.ID" asp-route-userId="5">Tvangs luk</a>
            </td>
        </tr>
        }
    </table>
</div>